:root {
    /*
    Controls current slide */
    --current-slide:  0;

    /*
    Common space between object */
    --space-md:  15px;

    /*
    Arrow color */
    --fill-color:  #FAF7F4;
}
[data-carousel] {
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    overflow: hidden;
}
.navigation{
    width: 100%;
    position: absolute;
    top: 30%; 
    z-index: 1;
    transform: translateY(-50%);
}
[data-carousel-button-previous], 
[data-carousel-button-next] {
    position: absolute;
    cursor: pointer;
    background: transparent;
    border-width: initial;
    border-style: none;
    border-color: initial;
    border-image: initial;
    margin: 0px !important;
    padding: 0px !important;
    zoom: 2;
}
[data-carousel-button-previous] svg, [data-carousel-button-next] svg {
    display: inline-block;
    fill: var(--fill-color);
    fill-opacity: 0.1;
    height: 32px;
    width: 32px;
}
[data-carousel-button-previous] svg:hover, [data-carousel-button-next] svg:hover{
    fill-opacity: 1;
}
[data-carousel-button-next] {
    right: 0;
}
[data-carousel-button-previous] {
    -webkit-transform: scaleX(-1);
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    transform: scaleX(-1);
    left: 0;   
}
[data-viewport] {
    margin-right: calc(-1 * var(--space-md));
    margin-left: calc(-1 * var(--space-md));
    overflow: hidden;
}
[data-slider] {
    font-size: 0px;
    white-space: nowrap;
    transform: translateX( calc(-100% * var(--current-slide)) );
    transition: transform 0.5s ease 0s;
}
.slide {
    display: inline-flex;
    padding-left: var(--space-md);
    padding-right: var(--space-md);
    vertical-align: top;
    white-space: normal;
}
.slide-5 {
    width: 20%;
}
.slide-4 {
    width: 25%;
}
.slide-3 {
    width: 33.3333333333%;
}
.slide-2 {
    width: 50%;
}
.slide-1 {
    width: 100%;
}
