/*Regular styling and not needed for the example.*/
:root{
  --primary-bg: #D9E4EC;
  --background-color: #B7CFDC;
  --accent-bg: #6AABD2;
  --dark-bg: #385E72;
  --primary-color: #D9E4EC;
}
html {
    box-sizing: border-box;
  }
    *, *:before, *:after {
    box-sizing: inherit;
  }
  body{
    background: var(--accent-bg);
    color: var(--primary-color);
    font-family: arial;
    font-size: 10pt;
    margin: 20px auto;
  }
  .container{
    margin: 0 auto;
    max-width: 1000px;
  }
  h1{
    text-transform: capitalize;
    letter-spacing: -1px;
    color: var(--primary-color);
  }  
  a{
    color: var(--dark-bg);

  }
  footer{
    text-align:center;
  }
.slide-content {
    background: var(--dark-bg);
    display: flex;
    font-family: Helvetica;
    font-weight: 100;
    border-radius: 3px;
    width: 100%;
    flex-direction: column;
    font-size: 12pt;
  }
  .slide-content div{
    padding: 0 15px 15px 15px; 
    color: var(--dark-bg);
    background: var(--background-color);
  }

  .slide-content img, .slide-content svg{
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
    max-width: 100%;
    object-fit: cover;
    width: 100%;
    max-height: 120px;   
    
  }
  .slide-content div a{
    margin-left: auto;
  }
  /*Demo image background color*/
  .slide-content svg{
    fill: var(--dark-bg);
  }

  .slider-default .slide-content{
    min-height: 120px;
    font-size: 50px;
    align-items: center;
    justify-content: center;
  }
